/*==================================================
ギャラリーのためのcss
===================================*/
.gallery{
    columns: 2;/*段組みの数*/
    width: 50%;
    margin:0 auto;
    }
    
    .gallery li {
        margin-bottom: 20px;/*各画像下に余白をつける*/
    list-style:none;
    }
    
    /*ギャラリー内のイメージは横幅100%にする*/
    .gallery img{
        width:100%;
        height:auto;
        vertical-align: bottom;/*画像の下にできる余白を削除*/}
    
    @media only screen and (max-width: 768px) {
        .gallery{
        columns: 2;
        width: 80%;
        }	
    }